.modal-container {
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	margin: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(2px);
	z-index: 1;
}

.modal-guts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#modal {
	background-color: rgba(250, 250, 250, 0.25);
	background-image: linear-gradient(
		rgba(250, 250, 250, 0.23),
		rgba(250, 250, 250, 0.43)
	);
	backdrop-filter: blur(4px);
	box-shadow: -5px 0px 29px 9px rgba(50, 50, 50, 0.66);
	padding: 0.7em;
	border-radius: 8px;
	margin: 10vh 14.7em;
	display: flex;
	width: 725px;
}

#champName,
#type,
#title {
	text-align: center;
	font-weight: bold;
}

#blurb {
	padding-left: 5px;
	font-size: 20px;
}

#splash {
	margin-top: 3px;
	border-radius: 15px;
	padding-right: 5px;
	width: 700px;
	height: 400px;
}
